<div class="container" style="text-align:center
">
  <div class="row" *ngIf="currentBlog">
    <div class="col-md-12">
      <h2>{{currentBlog.title}}</h2>
      <p>posted by {{currentBlog.admin}} on {{currentBlog.created | date}}</p>
      <p *ngIf="currentBlog.tags.length!=undefined && currentBlog.tags.length>0">Tags:<span *ngFor="let tag of currentBlog.tags;let first=first;let last=last">{{tag}}{{last ?'':','}}</span></p>
      
      <br>
      <div [innerHtml]="currentBlog.bodyHtml"></div>
      <br>
      <h5>category = {{ currentBlog.category}}</h5>

    
    </div>
  </div>
  <br>
  <div class="row" *ngIf="currentBlog">
    <div class="col-md-4">
      <a class="btn btn-primary" [routerLink]="['/edit',currentBlog.blogId]">Edit</a>

    </div>
    <div class="col-md-4">
      <a class="btn btn-danger" (click)="deleteThisBlog()">Delete</a>

    </div>
    <div class="col-md-4">
      <a class="btn btn-warning" (click)=goBackToPreviosPage()>Go back</a>
    </div>
  </div>
</div>